###############################################################################
# Old Paths
# To be removed once MyST Studio is updated to point to the new documentation
###############################################################################

RewriteRule ^/fc_create_artifacts.html /build/artifacts [R,L]
RewriteRule ^/fc_def_cdp.html /infrastructure/continuous-delivery-profile [R,L]
RewriteRule ^/admin_compute_defns.html /infrastructure/compute-definitions [R,L]
RewriteRule ^/admin_env_types.html /infrastructure/environment-types [R,L]
RewriteRule ^/admin_infra_provider_dets.html /infrastructure/ [R,L]
RewriteRule ^/fc_ui_create_preexisting_ip.html /infrastructure/providers/pre-existing [R,L]
RewriteRule ^/fc_ui_create_on_demand_aws_ip.html /infrastructure/providers/on-demand/aws [R,L]
#RewriteRule ^/fc_ui_create_on_demand_ojcs_ip.html
#RewriteRule ^/fc_admin_tags.html
RewriteRule ^/fc_ui_platform_blueprint.html /platform/blueprints [R,L]
#RewriteRule ^/fc_ui_platform_model_dets.html
RewriteRule ^/fc_ui_platform_model.html /platform/models [R,L]
#TODO: Rewrite to the Platform Template page when it is written
RewriteRule ^/fc_ui_platform_template.html /platform [R,L]
RewriteRule ^/fc_ui_platform_instance.html /platform/provisioning [R,L]
RewriteRule ^/fc_def_app_blueprints.html /deploy/application/blueprints [R,L] 
RewriteRule ^/admin_str_types.html /release/pipeline/organization/stream-types [R,L] 
RewriteRule ^/admin_rel_pip_grp.html /release/pipeline/organization/groups [R,L]
#RewriteRule ^/fc_promote.html
RewriteRule ^/fc_def_app_templates.html /release/pipeline/templates [R,L]

###############################################################################
# MyST Studio user guide redirects
# This allows for /console/#/<context> to redirect to /user-guide/<context>
# ...in order to decouple and simplify the context-based help links
###############################################################################

# Blueprints List View
RewriteRule ^/platform-blueprints/? /platform/blueprints [R,L]

# Models List View
RewriteRule ^/platform-models/? /platform/models [R,L]

# Platform Definition Editor (Blueprint or Model)
RewriteRule ^/platform-blueprints/.*/.* /platform/definitions [R,L]
RewriteRule ^/platform-blueprints/.*/.* /platform/definitions [R,L]

# Provisioning List View
RewriteRule ^/platform-instances/? /platform/provisioning [R,L]

# Artifacts List View
RewriteRule ^/artifacts/? /build/artifacts [R,L]

# Application Blueprints List View
RewriteRule ^/application-blueprints/? /deploy/application/blueprints [R,L]

# Application Blueprint Editor (Create or Edit)
RewriteRule ^/application-blueprints/create-new-one/? /deploy/application/blueprints [R,L]
RewriteRule ^/application-blueprints/.*/.* /deploy/application/blueprints [R,L]

# Stream Types List View
RewriteRule ^/stream-types/.*/.* /release/pipeline/organization/stream-types [R,L]

# Release Pipeline Groups List View
RewriteRule ^/release-pipeline-groups/.*/.* /release/pipeline/organization/groups [R,L]

# Release Pipeline Templates List View
RewriteRule ^/release-pipeline-templates/.*/.* /release/pipeline/templates [R,L]

# Release Pipeline Template Editor (Create or Edit)
RewriteRule ^/release-pipeline-templates/new/? /release/pipeline/templates [R,L]
RewriteRule ^/release-pipeline-templates/.* /release/pipeline/templates [R,L]

# Release Pipelines List View
RewriteRule ^/release-pipelines/.*/.* /release/pipeline [R,L]

# Release Pipeline Editor (Create or Edit)
RewriteRule ^/release-pipelines/new/? /release/pipeline [R,L]
RewriteRule ^/release-pipelines/edit/? /release/pipeline [R,L]

# Release Pipeline Fashboard
RewriteRule ^/release-pipelines/dashboard/? /release/pipeline/dashboard [R,L]

# Environment Types List View
RewriteRule ^/environment-types/? /infrastructure/environment-types [R,L]

# Compute Definitions List View
RewriteRule ^/compute-definitions/? /infrastructure/compute-definitions [R,L]

# Infrastructure Providers List View
RewriteRule ^/infrastructure/? /infrastructure/ [R,L]

RewriteRule ^/infrastructure/pre-existing?.* /infrastructure/providers/pre-existing [R,L]
RewriteRule ^/infrastructure/on-demand-aws?.* /infrastructure/providers/on-demand-aws [R,L]

# Continuous Delivery Profile
RewriteRule ^/external-resource-definitions/?.* /infrastructure/continuous-delivery-profile [R,L]

# Users
RewriteRule ^/users/? /administration/users [R,L]

# Roles
RewriteRule ^/roles/? /administration/roles [R,L]

# Workspaces
RewriteRule ^/workspaces/? /administration/workspaces [R,L]

# Audit - TODO: Write this section
# RewriteRule ^/workspaces/? /administration/audit [R,L]

# Custom Actions - TODO: Write this section
# RewriteRule ^/custom-actions/? /developers/custom-actions [R,L]

# My Profile - TODO: Write this section
# RewriteRule ^/users/? /administration/user [R,L]

